// colors

/*
$event-color-1: #577F92; // Smalt Blue
$event-color-2: #443453; // Martinique
$event-color-3: #A2B9B2; // Edward
$event-color-4: #f6b067; // Rajah
 */

$event-color-0: rgb(214, 214, 214);
$event-color-1: #9E1535;
$event-color-2: #224068;
$event-color-3: #c4a475;
$event-color-4: #8aa8a4;


$text-color: #222222;
$border-color: #EAEAEA;
$bg-color: white;
$link-color: $event-color-3;

// fonts 

$primary-font: 'Source Sans Pro', sans-serif;

//colum number

$columns-number: 3;
$row-height: 30px;